.header{
    display:flex;
    justify-content: space-between;
    border:1px solid black;
}

.nav ul{
    display:flex;
    gap: 20px;
    list-style-type: none;
    
}

.nav ul li{
    padding: 5px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.res-card{
    border:1px solid black;
    width: 200px;
    height: 300px;
   
}
.res-logo{
    width: 100%;
    height: 150px;
}
.logo-img{
    width: 2rem;
    height: 2rem;
}